In [16]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [17]:
df = pd.read_excel('manga_data.xlsx', sheet_name='Sheet1')
df.head()

               Name  Dept      Department System1 Production  Code
0       Satoru Gojo  呪術廻戦  Jujutsu Kaisen  Action      Mappa  mapp
1       Shoko Leiri  呪術廻戦  Jujutsu Kaisen  Action      Mappa  mapp
2      Yuji Itadori  呪術廻戦  Jujutsu Kaisen  Action      Mappa  mapp
3  Megumi Fushiguro  呪術廻戦  Jujutsu Kaisen  Action      Mappa  mapp
4             Panda  呪術廻戦  Jujutsu Kaisen  Action      Mappa  mapp

In [18]:
# empty sheet inserttion
df2 = pd.read_excel('manga_data.xlsx', sheet_name='Sheet2')

# Checklist Production

## code sheet

In [19]:
checklist = df[['Dept', 'Department']].drop_duplicates()
checklist.head()

             Dept                               Department
0            呪術廻戦                           Jujutsu Kaisen
6            鬼滅の刃                         Kimetsu no Yaiba
10         五等分の花嫁                      5Toubun no Hanayome
15     盾の勇者の成り上がり            The Rising of the Shield Hero
19  転生したらスライムだった件  That Time I Got Reincarnated as a Slime

In [20]:
# reorder
checklist = checklist[['Department', 'Dept']]

# rename
checklist.columns = ['Department', 'Dept Code']

# reset index
checklist.reset_index(drop=True, inplace=True)
checklist.head()

                                Department      Dept Code
0                           Jujutsu Kaisen           呪術廻戦
1                         Kimetsu no Yaiba           鬼滅の刃
2                      5Toubun no Hanayome         五等分の花嫁
3            The Rising of the Shield Hero     盾の勇者の成り上がり
4  That Time I Got Reincarnated as a Slime  転生したらスライムだった件

## cube sheet

In [21]:
checklist1 = df[['Production', 'Code']].drop_duplicates()
checklist1.head()

            Production  Code
0                Mappa  mapp
6             ufotable  ufot
10  Tezuka Productions  tezu
15       Kinema Citrus  kine
19                8bit  8bit

In [22]:
# reorder
checklist1 = checklist1[['Code', 'Production']]

# rename
checklist1.columns = ['cube', 'cube_name']

# reset index
checklist1.reset_index(drop=True, inplace=True)
checklist1.head()

   cube           cube_name
0  mapp               Mappa
1  ufot            ufotable
2  tezu  Tezuka Productions
3  kine       Kinema Citrus
4  8bit                8bit

In [23]:
# export
with pd.ExcelWriter('checklist.xlsx') as writer:  
    checklist.to_excel(writer, sheet_name='code', index=False)
    checklist1.to_excel(writer, sheet_name='cube', index=False)

# HR Data Production

In [24]:
# get data
hr = df[['Name','Dept', 'Department']]

# get id
id = df['Name'].str.lower().str.replace(' ', '')

hr['LAN ID'] = id

# reorder
hr = hr[['LAN ID', 'Name', 'Dept', 'Department']]
hr.head()

            LAN ID              Name  Dept      Department
0       satorugojo       Satoru Gojo  呪術廻戦  Jujutsu Kaisen
1       shokoleiri       Shoko Leiri  呪術廻戦  Jujutsu Kaisen
2      yujiitadori      Yuji Itadori  呪術廻戦  Jujutsu Kaisen
3  megumifushiguro  Megumi Fushiguro  呪術廻戦  Jujutsu Kaisen
4            panda             Panda  呪術廻戦  Jujutsu Kaisen

In [25]:
# check uniqueness
hr['LAN ID'].unique().shape[0]

278

In [26]:
len(hr['LAN ID'])

278

In [27]:
# export the data
with pd.ExcelWriter('hr.xlsx') as writer:
    df2.to_excel(writer, sheet_name='Sheet2', index=False)
    hr.to_excel(writer, index=False)

## System Data Production

In [28]:
system = df['System1'].unique()
system

array(['Action', 'Adventure', 'Romance', 'Isekai', 'Drama', 'Horror',
       'Slice of Life', 'Comedy', 'Sci-Fi'], dtype=object)

In [29]:
df['User ID'] = id
df = df.drop(['Dept', 'Department', 'Production'], axis = 1)
df = df[['User ID', 'Name', 'System1', 'Code']]
df.columns = ['User ID', 'Name', 'System1', 'role code']
df.head()

           User ID              Name System1 role code
0       satorugojo       Satoru Gojo  Action      mapp
1       shokoleiri       Shoko Leiri  Action      mapp
2      yujiitadori      Yuji Itadori  Action      mapp
3  megumifushiguro  Megumi Fushiguro  Action      mapp
4            panda             Panda  Action      mapp

In [30]:
for i in range(0, len(system)):
    # filter the dataframe by dept
    filter = df[df['System1'] == system[i]]
    # name the file using department code
    systemName = system[i].upper()
    # export the file
    filter.to_excel('sys_' +systemName + '.xlsx', index=False, sheet_name=systemName)